(security) {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}

(noindex) {
	header X-Robots-Tag "noindex, nofollow, noarchive"

	handle /robots.txt {
		root * /etc/caddy/static
		file_server
	}
}

{$AIOSTREAMS_DOMAIN} {
	{$CADDY_TLS}
	import security
	import noindex

	handle {
		reverse_proxy aiostreams:3000
	}
}

{$AIOMETADATA_DOMAIN} {
	{$CADDY_TLS}
	import security
	import noindex

	handle {
		reverse_proxy aiometadata:3232
	}
}

{$SLICKSYNC_DOMAIN} {
	{$CADDY_TLS}
	import security
	import noindex

	handle {
		reverse_proxy slicksync:3000
	}
}
