(noindex) {
	header X-Robots-Tag "noindex, nofollow, noarchive"

	handle /robots.txt {
		root * /etc/caddy/static
		file_server
	}
}

{$AIOSTREAMS_DOMAIN} {
	{$CADDY_TLS}
	import noindex

	handle {
		reverse_proxy aiostreams:3000
	}
}

{$AIOMETADATA_DOMAIN} {
	{$CADDY_TLS}
	import noindex

	handle {
		reverse_proxy aiometadata:3232
	}
}
